/*custom*/
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/poppins/400.eot');
	src: url('../fonts/poppins/400.eot?#iefix') format('embedded-opentype'),
		url('../fonts/poppins/400.woff2') format('woff2'),
		url('../fonts/poppins/400.woff') format('woff'),
		url('../fonts/poppins/400.ttf') format('truetype'),
		url('../fonts/poppins/400.svg#embed-poppins') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/poppins/700.eot');
	src: url('../fonts/poppins/700.eot?#iefix') format('embedded-opentype'),
		url('../fonts/poppins/700.woff2') format('woff2'),
		url('../fonts/poppins/700.woff') format('woff'),
		url('../fonts/poppins/700.ttf') format('truetype'),
		url('../fonts/poppins/700.svg#embed-poppins') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Linotte';
	src: url('../../fonts/Linotte/Linotte-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Linotte';
	src: url('../../fonts/Linotte/Linotte-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Linotte';
	src: url('../../fonts/Linotte/Linotte-Semibold.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Linotte';
	src: url('../../fonts/Linotte/Linotte-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Linotte';
	src: url('../../fonts/Linotte/Linotte-Heavy.otf') format('opentype');
	font-weight: 900;
	font-style: normal;
}

/* @import url("https://use.typekit.net/qwg2kll.css"); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&&display=swap'); */

.navbar-brand,
.display-1,
.display-2,
.display-3,
.display-4,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Linotte", sans-serif;
	letter-spacing: -0.03em;
}

body {
	font-family: "Linotte", sans-serif;
	/* font-family: "Segoe UI", "Trebuchet MS", "PT Sans", "Helvetica Neue", "HelveticaNeue-Light", Helvetica, Arial, sans-serif; */
}