@font-face {
  font-family: 'Jcfonts linotte';
  src: url('../../fonts/Linotte/Linotte-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Jcfonts linotte';
  src: url('../../fonts/Linotte/Linotte-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Jcfonts linotte';
  src: url('../../fonts/Linotte/Linotte-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Jcfonts linotte';
  src: url('../../fonts/Linotte/Linotte-Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Jcfonts linotte';
  src: url('../../fonts/Linotte/Linotte-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}