.note__info {
  display: flex;
  max-width: 100%;
  padding: 16px 20px;
  align-items: center;
  list-style-type: none;
}

.input-group.donate__control {
  width: 105px;

  .form-control {
    border-left: 0;
    background: $neutral-100;
    border-color: $border-color;
    padding-left: 0;
    margin: 0 10px;
  }
}

.organization__cart-btn {
  width: 100%;
  @include media-breakpoint-up(sm) {
    margin-left: 20px;
    width: auto;
  }
}
.input-group-text {
  background: transparent;
  border: none;
}