.checkout__tax {
  background: $secondary-5;
  border-radius: 4px;
  height: 42px;
  min-width: 42px;
}
.checkout__legend {
  background: $secondary-1;
  border-radius: 4px;
}
.checkout__subtotal--price {
  width: 85px;
}
@include media-breakpoint-down(sm) {
  .checkout__subtotal--price {
    width: auto;
  }
}
