@import '../../../../../assets/scss/components/list-table';

.post__value {
  min-width: 60px;
  max-width: 60px;
}
.project--btn {
  background: unset;
  color: inherit;
}
.table__list-item:last-child {
  border: none !important;
}
.progress__wrap {
  width: 100%;
  max-width: 300px;
  @include media-breakpoint-down(sm) {
    max-width: 100%;
  }
}
.post__status {
  background: $secondary-5;
  // padding: 12px 6px !important;
  border-radius: 12px
}
