.tag__list::-webkit-scrollbar {
  height: 0;
  width: 0;
  display: none;
}

.tag__list::-webkit-scrollbar-thumb {
  display: none;
}
.donate-section {
  background-color: $neutral-100;
  border: 1px solid $border-color;
  border-radius: 8px;
  font-size: 1rem;

  .donate-value-control {
    width: 105px;

    .input-group-text {
      background: #f8fafd;
      padding: 0 12px;
      border-right: 1px solid #e0e0e0;
      margin-right: 1px;
    }

    .form-control {
      border-left: 0;
      padding-left: 0;
    }
    .form-control::placeholder,
    .donate-value-input,
    .donate-value-symbol {
      font-size: 16px;
    }
    .donate-value-input:focus {
      border-color: #e6e6e6 !important;
    }
  }
}
.empty__container {
  max-width: 400px;
}
.empty__circle * {
  max-width: 300px;
}
.empty--small * {
  max-width: 275px !important;
}
@include media-breakpoint-down(sm) {
  .btn__cart {
    width: 100%;
  }

  .filter__dropdown-wrap,
  .grab__dropdown-wrap,
  .grab__info,
  .filter__search-wrap {
    width: 100%;
  }
}

.filter__item-icon {
  width: 28px;
  font-size: 21px;
}
