.history__list > li:nth-last-child(2) {
  border: unset !important;
}
.order__id {
  width: 250px;
}

.order__logo {
  height: 35px;
  width: 35px;
}
.img--nobg {
  background: unset;
  border: unset;
}
