.history__list > li:nth-last-child(2) {
  border: unset !important;
}
#history-filter-select-form-control {
  margin: 0 !important;
  padding: 4px 0 !important;
  text-align: center;
  vertical-align: center !important;
}
.accordion__head {
  height: 48px
}
.order__id {
  width: 250px;
}

.order__logo {
  height: 35px;
  width: 35px;
}
.img--nobg {
  background: unset;
  border: unset;
}
.chevron-rotate {
  transform: rotate(180deg);
}
#history-filter-select-form-control {
  fieldset {
    border-color: #3a94d4;
  }
  svg {
    color: #3a94d4;
  }
  div > div {
    color: #3a94d4;
  }
}
